// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

@mixin yellow-background-color {
  background-color: greenyellow;
  
}
@mixin transform-scale($amount, $amount2){
  -webkit-transform: scale($amount) rotate($amount2);
  -ms-transform: scale($amount) rotate($amount2);
  transform: scale($amount) rotate($amount2);
  
}
// Write your sass code here or import partials
$image-height: 300px;

h1 {
  color: tomato;
  margin: 20px 0 30px 0;
}

.card {
  border-radius: 10px;
  &-image-container{
    overflow: hidden;
  }
  img{
    height: $image-height;
    object-fit: cover;
    transition: 1s ease-in-out;
    &:hover{ @include transform-scale(1.5, 360deg);
              box-shadow: 0 0 25px rgba($color: #000000, $alpha: .5);
              
               

    }
  }
}
.app_parent{
  border: 1px solid blue;
  margin: 30px 15px 0 10px;
  &_child{
    @include yellow-background-color;
    &_again{
      h3{ 
        color: white;
        -webkit-text-stroke: 1px #000;
        
        
    }
  }
}
}